@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.card {
  background-color: hsl(216, 50%, 16%);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 4.8px 9.6px 9.6px hsl(0deg 0% 0% / 0.35);
}
.container{
--bs-gutter-x:0rem;
}
.container {
  position: relative;
}

.card-image-top {
  border-radius: 15px;
  opacity: 1;
  width: 22rem;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(178, 100%, 50%, 0.5);
  border-radius: 15px;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  color: white;
  font-size: 16px;

}
.container:hover .card-img-top {
  opacity: 0.3;

}

.container:hover .middle {
  opacity: 1;

}


main {
  background-color: hsl(217, 54%, 11%);
}
.container-fluid {
  height: 100vh;
}
.card-img-top {
  border-radius: 15px;
}
.card-title{
  color:white;
  font-size: 1.8rem;
}
h1.card-title:hover{
  color: hsl(178, 100%, 50%);
}
.card-text {
  color: hsl(215, 51%, 70%);
  font-size: 18px;
  font-weight: 300;
  padding-top: 5%;
}

.creator {
  color: hsl(215, 51%, 70%);
}
.stats {
  width: 18rem;
}
.icon-ethereum {
  margin-right: 5px;
}
.icon-clock {
  margin-left: auto;
  margin-right: 5px;
}

.eth {
  color: hsl(178, 100%, 50%);
}
.days {
  color: hsl(215, 51%, 70%);
}
.name {
  color: white;
}
.name:hover{
  color: hsl(178, 100%, 50%);

}
.card-footer {
  border-color: hsl(215, 32%, 27%);
}
.avatar {
  margin-right: 5%;
  border-radius: 50%;
  border: 1px solid white;
}
.info {
  padding-top: 5%;
}
